.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #A1D6E2;
}

.container {
  display: flex;
  align-items: center;
  background: #ededed;
  padding: 2rem;
  width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  margin-right: 2rem;
  flex-grow: 1; /* Space between image and form */
}

.image-container img {
  width: auto; /* Adjust the width as needed */
  height: auto;
  border-radius: 5px;
}

.form-container {
  background: #F1F1F2;
  padding: 1rem;
  border-radius: 5px;
  flex-grow: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-container h1 {
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  background: #1995AD;
  color: #F1F1F2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.form-container button:hover {
  background: #157A9C;
}

.switch-button {
  background: none;
  border: none;
  color: #1995AD;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.switch-button:hover {
  color: #157A9C;
  text-decoration: underline;
}

.error {
  color: red;
  margin-top: 1rem;
  text-align: center;
}

.dashboard-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sidebar {
  flex: 0 0 250px;
  background-color: #A1D6E2;
  padding: 20px;
  
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  flex-grow: 1;
}

.profile-name {
  font-weight: bold;
  display: block;
}

.profile-handle {
  color: #A1D6E2;
  display: block;
}

.sidebar-links {
  margin-top: 20px;
}

.sidebar-link {
  display: block;
  margin-bottom: 10px;
  color: #157A9C;
  text-decoration: none;
}

.sidebar-link:hover {
  text-decoration: underline;
}

.feed {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.post {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-size: 1rem;
  font-weight: bold;
}

.post-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.caption {
  margin-bottom: 10px;
}

.actions {
  margin-bottom: 10px;
}

.like-button, .comment-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.comments {
  margin-bottom: 10px;
}

.comments p {
  margin-bottom: 5px;
}

.tweet {
  background-color: #F1F1F2;
  padding: 15px;
  margin-bottom: 15px;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
}

.tweet-content {
  color: #1a1a1b;
}

.textbar{
  width: 350px;
}