.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#A1D6E2;
}

.form-container {
  background: #F1F1F2;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 360px;
}



.form-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-container input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  background: #1995AD;
  color: #F1F1F2;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background:#1995AD;
}
